
<main class="container my-5 min-vh-100">
    <div class="container mb-5 w-50 text-center p-3">
        <h2 class="mb-4">Agregar Bicicleta (GET con query string)</h2>
        <form action="/agregar-get" method="get">
            <input class="form-control mb-3" type="text" name="marca" placeholder="Marca" required>
            <input class="form-control mb-3" type="text" name="modelo" placeholder="Modelo" required>
            <input class="form-control mb-3" type="text" name="precio" placeholder="Precio" required>
            <button class="btn btn-success" type="submit">Crear</button>
        </form>
    </div>
    <hr>
    <div class="container mb-5 w-50 text-center p-3">
        <h2 class="mb-4">Agregar Bicicleta (POST con body y params)</h2>
        <form action="/agregar-post" method="post">
            <input class="form-control mb-3" type="text" name="marca" placeholder="Marca" required>
            <input class="form-control mb-3" type="text" name="modelo" placeholder="Modelo" required>
            <input class="form-control mb-3" type="text" name="precio" placeholder="Precio" required>
            <button class="btn btn-success" type="submit">Crear</button>
        </form>
    </div>
    <hr>
    <div class="container mb-5 w-50 text-center p-3">
        <h2 class="mb-4">Buscar Bicicleta (Query Strings)</h2>
        <form action="" method="get">
            <input class="form-control mb-3" type="text" name="marca" placeholder="Buscar por Marca o Modelo">
            <button class="btn btn-warning" type="submit">Buscar</button>
        </form>
    </div>

</main>